<div class="container">
    <table class="table table-borderless table-hover bg-white">
        <thead class="border-bottom">
            <tr>
                <th>Guia</th>
                <th>Repartidor </th>
                <th>Fecha y hora</th>
                <th>Unidades</th>
                <th>Destinatario</th>
                <th>Empleado</th>
                <th>Direccion de destino</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- <td>{{item.teams}}</td>
                <td>{{item.guide}}</td>
                <td>{{item.guideUnit}}</td>
                <td>{{item.readGuide}}</td> -->
                <!-- *ngFor="let item of product; index as i" -->
            </tr>
        </tbody>
        </table>
</div>


